
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeClient.cshtml";
}

<html lang="vi">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Phản hồi - JobsGO Hỏi &amp; Đáp</title>
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link rel="pingback" href="https://jobsgo.vn/hoi-dap/xmlrpc.php">
    <script type="text/javascript">var ajaxurl = "https://jobsgo.vn/hoi-dap/wp-admin/admin-ajax.php",ap_nonce 	= "dfa4f825e7",apTemplateUrl = "https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer/templates/js-template";apQuestionID = "";aplang = {"loading":"Loading..","sending":"Sending request","file_size_error":"File size is bigger than 0.48 MB","attached_max":"You have already attached maximum numbers of allowed attachments","commented":"\u0111\u00e3 b\u00ecnh lu\u1eadn","comment":"B\u00ecnh lu\u1eadn","cancel":"Cancel","update":"Update","your_comment":"Vi\u1ebft b\u00ecnh lu\u1eadn c\u1ee7a b\u1ea1n...","notifications":"Notifications","mark_all_seen":"Mark all as seen","search":"T\u00ecm ki\u1ebfm","no_permission_comments":"B\u1ea1n kh\u00f4ng \u0111\u01b0\u1ee3c ph\u00e9p \u0111\u1eb7t c\u00e2u h\u1ecfi."};disable_q_suggestion = "";</script>
    <script type="text/javascript">AP_Brushes = {"php":"PHP","css":"CSS","xml":"XML\/HTML","jscript":"Javascript","sql":"SQL","bash":"Bash\/Shell","clojure":"Clojure","cpp":"C++\/C","csharp":"C#","delphi":"Delphi","diff":"Diff","erlang":"Erlang","fsharp":"F#","groovy":"Groovy","java":"Java","javafx":"JavaFX","latex":"Latex","plain":"Plain text","matlab":"Matlabkey","objc":"Object","perl":"Perl","powershell":"PowerShell","python":"Python","r":"R","ruby":"Ruby\/Rails","scala":"Scala","vb":"VisualBasic"};</script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <!-- This site is optimized with the Yoast SEO plugin v17.4 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Phản hồi - JobsGO Hỏi &amp; Đáp" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="JobsGO Hỏi &amp; Đáp" />
    <meta property="article:modified_time" content="2021-09-24T10:29:02+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- / Yoast SEO plugin. -->


    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin JobsGO Hỏi &amp; Đáp &raquo;" href="https://jobsgo.vn/hoi-dap/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi JobsGO Hỏi &amp; Đáp &raquo;" href="https://jobsgo.vn/hoi-dap/comments/feed/" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/jobsgo.vn\/hoi-dap\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='anspress-fonts-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer/templates/css/fonts.css?ver=4.1.21' type='text/css' media='all' />
    <link rel='stylesheet' id='anspress-main-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer/templates/css/main.css?ver=4.1.21' type='text/css' media='all' />
    <style id='anspress-main-inline-css' type='text/css'>

        #anspress .ap-q-cells {
            margin-left: 60px;
        }

        #anspress .ap-a-cells {
            margin-left: 60px;
        }
    </style>
    <link rel='stylesheet' id='ap-overrides-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer/templates/css/overrides.css?v=4.1.21&#038;ver=4.1.21' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://jobsgo.vn/hoi-dap/wp-includes/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css' href='https://jobsgo.vn/hoi-dap/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='socialsnap-styles-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/socialsnap/assets/css/socialsnap.css?ver=1.1.16' type='text/css' media='all' />
    <link rel='stylesheet' id='syntaxhighlighter-core-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer//addons/syntaxhighlighter/syntaxhighlighter/styles/shCore.css?ver=4.1.21' type='text/css' media='all' />
    <link rel='stylesheet' id='syntaxhighlighter-theme-default-css' href='https://jobsgo.vn/hoi-dap/wp-content/plugins/anspress-question-answer//addons/syntaxhighlighter/syntaxhighlighter/styles/shThemeDefault.css?ver=4.1.21' type='text/css' media='all' />
    <link rel='stylesheet' id='twentytwelve-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C700italic%2C400%2C700&#038;subset=latin%2Clatin-ext&#038;display=fallback' type='text/css' media='all' />
    <link rel='stylesheet' id='twentytwelve-style-css' href='https://jobsgo.vn/hoi-dap/wp-content/themes/twentytwelve/style.css?ver=20190507' type='text/css' media='all' />
    <link rel='stylesheet' id='twentytwelve-block-style-css' href='https://jobsgo.vn/hoi-dap/wp-content/themes/twentytwelve/css/blocks.css?ver=20190406' type='text/css' media='all' />
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentytwelve-ie-css'  href='https://jobsgo.vn/hoi-dap/wp-content/themes/twentytwelve/css/ie.css?ver=20150214' type='text/css' media='all' />
    <![endif]-->
    <script type="text/javascript">
            window._nslDOMReady = function (callback) {
                if ( document.readyState === "complete" || document.readyState === "interactive" ) {
                    callback();
                } else {
                    document.addEventListener( "DOMContentLoaded", callback );
                }
            };
    </script>
    <script type='text/javascript' src='https://jobsgo.vn/hoi-dap/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>

    <link rel="https://api.w.org/" href="https://jobsgo.vn/hoi-dap/wp-json/" />
    <link rel="alternate" type="application/json" href="https://jobsgo.vn/hoi-dap/wp-json/wp/v2/pages/5" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://jobsgo.vn/hoi-dap/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://jobsgo.vn/hoi-dap/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.7.2" />
    <link rel='shortlink' href='https://jobsgo.vn/hoi-dap/?p=5' />
    <link rel="alternate" type="application/json+oembed" href="https://jobsgo.vn/hoi-dap/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjobsgo.vn%2Fhoi-dap%2Fcau-hoi%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://jobsgo.vn/hoi-dap/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjobsgo.vn%2Fhoi-dap%2Fcau-hoi%2F&#038;format=xml" />
    <style type="text/css">
        #activity-widget #the-comment-list .avatar {
            position: relative;
            top: 0;
            margin-right: 10px;
            float: left;
        }

        #menu-item-2123 {
            display: none !important;
        }


        #toplevel_page_anspress .wp-first-item,
        #toplevel_page_vc-welcome,
        #toplevel_page_wpcf7,
        #application-passwords-section,
        #wp-user-avatars-media,
        .user-profile-picture,
        .form-table .ratings-row,
        .user-admin-color-wrap,
        #wpfooter,
        #wp-admin-bar-wp-logo,
        #toplevel_page_yit_plugin_panel {
            display: none !important;
        }
    </style>

    <link rel="alternate" type="application/rss+xml" title="Question Feed" href="?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="Answers Feed" href="https://jobsgo.vn/hoi-dap/?post_type=answer&#038;feed=rss2" />
    <style type="text/css">
div.nsl-container[data-align="left"] {
    text-align: left;
}

div.nsl-container[data-align="center"] {
    text-align: center;
}

div.nsl-container[data-align="right"] {
    text-align: right;
}


div.nsl-container .nsl-container-buttons a {
    text-decoration: none !important;
    box-shadow: none !important;
    border: 0;
}

div.nsl-container .nsl-container-buttons {
    display: flex;
    padding: 5px 0;
}

div.nsl-container.nsl-container-block .nsl-container-buttons {
    display: inline-grid;
    grid-template-columns: minmax(145px, auto);
}

div.nsl-container-block-fullwidth .nsl-container-buttons {
    flex-flow: column;
    align-items: center;
}

div.nsl-container-block-fullwidth .nsl-container-buttons a,
div.nsl-container-block .nsl-container-buttons a {
    flex: 1 1 auto;
    display: block;
    margin: 5px 0;
    width: 100%;
}

div.nsl-container-inline {
    margin: -5px;
    text-align: left;
}

div.nsl-container-inline .nsl-container-buttons {
    justify-content: center;
    flex-wrap: wrap;
}

div.nsl-container-inline .nsl-container-buttons a {
    margin: 5px;
    display: inline-block;
}

div.nsl-container-grid .nsl-container-buttons {
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
}

div.nsl-container-grid .nsl-container-buttons a {
    flex: 1 1 auto;
    display: block;
    margin: 5px;
    max-width: 280px;
    width: 100%;
}

div.nsl-container .nsl-button {
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
}

div.nsl-container .nsl-button-default {
    color: #fff;
    display: flex;
}

div.nsl-container .nsl-button-icon {
    display: inline-block;
}

div.nsl-container .nsl-button-svg-container {
    flex: 0 0 auto;
    padding: 8px;
    display: flex;
    align-items: center;
}

div.nsl-container svg {
    height: 24px;
    width: 24px;
    vertical-align: top;
}

div.nsl-container .nsl-button-default div.nsl-button-label-container {
    margin: 0 24px 0 12px;
    padding: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .25px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    flex: 1 1 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    display: inline-block;
}

div.nsl-container .nsl-button-google[data-skin="dark"] .nsl-button-svg-container {
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
    background: #fff;
}

div.nsl-container .nsl-button-google[data-skin="light"] {
    border-radius: 1px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
    color: RGBA(0, 0, 0, 0.54);
}

div.nsl-container .nsl-button-apple .nsl-button-svg-container {
    padding: 0 6px;
}

div.nsl-container .nsl-button-apple .nsl-button-svg-container svg {
    height: 40px;
    width: auto;
}

div.nsl-container .nsl-button-apple[data-skin="light"] {
    color: #000;
    box-shadow: 0 0 0 1px #000;
}

div.nsl-container .nsl-button-facebook[data-skin="white"] {
    color: #000;
    box-shadow: inset 0 0 0 1px #000;
}

div.nsl-container .nsl-button-facebook[data-skin="light"] {
    color: #1877F2;
    box-shadow: inset 0 0 0 1px #1877F2;
}

div.nsl-container .nsl-button-apple div.nsl-button-label-container {
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nsl-clear {
    clear: both;
}

.nsl-container{
    clear: both;
}

/*Button align start*/

div.nsl-container-inline[data-align="left"] .nsl-container-buttons {
    justify-content: flex-start;
}

div.nsl-container-inline[data-align="center"] .nsl-container-buttons {
    justify-content: center;
}

div.nsl-container-inline[data-align="right"] .nsl-container-buttons {
    justify-content: flex-end;
}


div.nsl-container-grid[data-align="left"] .nsl-container-buttons {
    justify-content: flex-start;
}

div.nsl-container-grid[data-align="center"] .nsl-container-buttons {
    justify-content: center;
}

div.nsl-container-grid[data-align="right"] .nsl-container-buttons {
    justify-content: flex-end;
}

div.nsl-container-grid[data-align="space-around"] .nsl-container-buttons {
    justify-content: space-around;
}

div.nsl-container-grid[data-align="space-between"] .nsl-container-buttons {
    justify-content: space-between;
}

/* Button align end*/</style>
    <script src="https://accounts.google.com/gsi/client"></script>
    <meta property="og:image" content="https://jobsgo.vn/hoi-dap/wp-content/uploads/2021/10/JobsGO-QA-Anh-800x600-1.png" />

    <link rel="stylesheet" href="/hoi-dap/wp-content/themes/twentytwelve/custom.css?v=1.4267">
    <link rel="stylesheet" href="/hoi-dap/wp-content/themes/twentytwelve/main.css?v=1700819765">

</head>

<body class="page-template-default page page-id-5 page-parent wp-embed-responsive anspress-content ap-page-base full-width custom-font-enabled single-author">
    <div id="page" class="hfeed" >
        <div id="overlay">
            <div id="formContainer " class="hidden" style="max-width: 1200px;">
                <form id="myForm">
                    <!-- Add your form fields here -->
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" style="width:500px;height:300px">

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div id="main" class="wrapper site">

            <div id="primary" class="site-content">
                <div id="content" role="main">


                    <article id="post-5" class="post-5 page type-page status-publish">
                        <header class="entry-header">
                            <h1 class="entry-title">Phản hồi</h1>
                        </header>

                        <div class="entry-content" style="margin-left:30px">
                            <div id="anspress" class="anspress">
                                

                                <div class="ap-row">

                                </div>


                                <div id="ap-lists" class="ap-col-9">
                                    <div class="ap-list-head clearfix" style="padding-bottom:10px;">
                                        <form id="ap-search-form" class="ap-search-form" method="post">
                                            <div class="ap-search-inner no-overflow">
                                                <input name="s" type="text" class="ap-search-input ap-form-input" placeholder="Viết phản hồi ở đây..." value="" style="max-width: 610px; white-space: normal; " />
                                                <button class="ap-btn-ask" id="showFormButton" style="margin-top:8px">Thêm phản hồi</button>
                                            </div>
                                           
                                               
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div><!-- .entry-content -->
                <footer class="entry-meta">
                </footer><!-- .entry-meta -->
                   </article> <!-- #post -->

            </div><!-- #content -->
        </div><!-- #primary -->


    </div><!-- #main .wrapper -->
    </div><!-- #page -->
    <style>

        #colophon ul {
            display: block;
            width: 100%;
        }

            #colophon ul li a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }

            #colophon ul li {
                display: inline;
                list-style-type: none;
                padding-right: 10px;
                float: left;
            }
        #formContainer {
            background-color: rgb(79 99 120 / 45%) !important;
            position: absolute;
            // display: none;
        }
        .hidden {
            background-color: #fff;
            max-width: 500px;
            
        }
        #myForm input {
            margin-bottom: 10px;
        }
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        }
        #formContainer {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            z-index: 2;
        }
        #showFormButton {
            z-index: 1;
        }

        /* Định dạng cho các trường nhập liệu */
        #myForm input {
            margin-bottom: 10px;
        }

        /* Hiển thị overlay khi form container được hiển thị */
        #formContainer.visible {
            display: block;
        }

        #overlay.visible {
            display: block;
        }
    </style>
    <!-- FOOBAR_SHORTCODE id:2384 -->
    <style>
        .site-header {
            position: relative !important;
            padding-top: 1px;
        }

        #main {
            padding-top: 0 !important;
        }
    </style>		<div id="ss-floating-bar" class="ss-right-sidebar ss-regular-icons ss-hide-on-mobile ss-circle-icons">
        <ul class="ss-social-icons-container">

            <li class="">
                <a href="#" data-ss-ss-link="https://www.facebook.com/sharer.php?t=C%C3%A2u%20h%E1%BB%8Fi&#038;u=https%3A%2F%2Fjobsgo.vn%2Fhoi-dap%2Fcau-hoi%2F" class="ss-facebook-color" rel="nofollow noopener" data-ss-ss-network-id="facebook" data-ss-ss-post-id="5" data-ss-ss-location="sidebar" data-ss-ss-permalink="" data-ss-ss-type="share" data-has-api="true">

                    <span class="ss-share-network-content">
                        <i class="ss-network-icon"><svg class="ss-svg-icon" aria-hidden="true" role="img" focusable="false" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M32 16.098C32 7.208 24.837 0 16 0S0 7.207 0 16.098C0 24.133 5.851 30.792 13.5 32V20.751H9.437v-4.653H13.5V12.55c0-4.034 2.389-6.263 6.043-6.263 1.751 0 3.582.315 3.582.315v3.961h-2.018c-1.987 0-2.607 1.241-2.607 2.514v3.02h4.438l-.71 4.653H18.5V32C26.149 30.792 32 24.133 32 16.098z" /></svg></i>
                    </span>

                </a>

            </li>
            <li class="">
                <a href="#" data-ss-ss-link="https://twitter.com/intent/tweet?text=C%C3%A2u+h%E1%BB%8Fi&#038;url=https%3A%2F%2Fjobsgo.vn%2Fhoi-dap%2Fcau-hoi%2F" class="ss-twitter-color" rel="nofollow noopener" data-ss-ss-network-id="twitter" data-ss-ss-post-id="5" data-ss-ss-location="sidebar" data-ss-ss-permalink="" data-ss-ss-type="share">

                    <span class="ss-share-network-content">
                        <i class="ss-network-icon"><svg class="ss-svg-icon" aria-hidden="true" role="img" focusable="false" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M28.75 9.5c0 0.25 0 0.563 0 0.813 0 8.688-6.625 18.688-18.688 18.688-3.688 0-7.188-1.063-10.063-2.938 0.5 0.063 1.063 0.063 1.563 0.063 3.063 0 5.938-1 8.188-2.813-2.875 0-5.313-1.938-6.188-4.563 0.438 0.125 0.813 0.125 1.25 0.125 0.625 0 1.188-0.063 1.75-0.188-3-0.625-5.25-3.313-5.25-6.438 0-0.063 0-0.063 0-0.125 0.875 0.5 1.875 0.813 2.938 0.813-1.75-1.125-2.938-3.188-2.938-5.438 0-1.188 0.375-2.313 0.938-3.313 3.188 4 8.063 6.625 13.5 6.875-0.125-0.5-0.188-1-0.188-1.5 0-3.625 2.938-6.563 6.563-6.563 1.938 0 3.625 0.813 4.813 2.063 1.5-0.313 2.938-0.813 4.188-1.563-0.5 1.5-1.563 2.813-2.875 3.625 1.313-0.188 2.563-0.5 3.75-1.063-0.875 1.313-2 2.5-3.25 3.438z"></path></svg></i>
                    </span>
                </a>

            </li>
            <li class="">
                <a href="#" data-ss-ss-link="https://www.linkedin.com/shareArticle?title=C%C3%A2u%20h%E1%BB%8Fi&#038;url=https%3A%2F%2Fjobsgo.vn%2Fhoi-dap%2Fcau-hoi%2F&#038;mini=true" class="ss-linkedin-color" rel="nofollow noopener" data-ss-ss-network-id="linkedin" data-ss-ss-post-id="5" data-ss-ss-location="sidebar" data-ss-ss-permalink="" data-ss-ss-type="share">
                    <span class="ss-share-network-content">
                        <i class="ss-network-icon"><svg class="ss-svg-icon" aria-hidden="true" role="img" focusable="false" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M29.632 0C30.939 0 32 1.032 32 2.307v27.384C32 30.966 30.939 32 29.632 32H2.36C1.058 32 0 30.966 0 29.69V2.308C0 1.032 1.058 0 2.36 0h27.272zM9.149 11.638h-4.77V27h4.77V11.638zm12.133-.382c-2.318 0-3.874 1.273-4.509 2.48h-.066v-2.098H12.14V27h4.76v-7.599c0-2.004.378-3.946 2.858-3.946 2.447 0 2.475 2.29 2.475 4.072V27H27v-8.423c0-4.138-.893-7.32-5.718-7.32v-.001zM6.764 4A2.766 2.766 0 004 6.769a2.765 2.765 0 105.528 0A2.767 2.767 0 006.765 4h-.001z" /></svg></i>
                    </span>
                </a>
            </li>

        </ul>

        <span class="ss-hide-floating-bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 370.814 370.814"><path d="M292.92 24.848L268.781 0 77.895 185.401l190.886 185.413 24.139-24.853-165.282-160.56" /></svg>
        </span>

    </div>
<script>
    var showFormButton = document.getElementById("showFormButton");
    var formContainer = document.getElementById("formContainer");

    showFormButton.addEventListener("click", function () {
        formContainer.style.display = "block"; // Hiển thị form khi nút được click
    });
    
</script>
    <style>
        .ap-col-9{
            width:100%;
        }
        #ap-search-form .ap-search-input{
            height:50px;
        }
        .site-content article {
            border-bottom: 4px double #ffffff;
        }
        .navv{
            display:flex;
        }
    </style>
</body>
</html>

