
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
<link href="~/Client/css/stylelogin.css" rel="stylesheet" />
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

<body>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <form method="post">
                                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                                {
                                                    <p style="color: red;">@ViewBag.ErrorMessage</p>
                                                }
                                                <h4 class="mb-4 pb-3" style="color: #000">Đăng nhập</h4>
                                                <div class="form-group">
                                                    <input type="text" name="Username" class="form-style" placeholder="Username">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="MatKhau" class="form-style" placeholder="Mật khẩu">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <p class="text-bg-danger" style="margin-top: 10px; color:#ff0018">
                                                    @TempData["error"]
                                                </p>
                                                <button type="submit" class="btn mt-4 ">Đăng nhập</button>
                                                <br />
                                                <br />
                                                <a href="/Home/Register">Bạn không có tài khoản?</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*<script src="~/Client/js/loginn.js"></script>*@
@*<script src="~/Client/js/signup.js"></script>*@

<style>
    body {
        background-color: #fff;
        color: #544e39;
    }
    .checkbox:checked + label, .checkbox:not(:checked) + label{
     background-color:#000;
    }
    .card-front, .card-back {
        background-color: #fff;
        border: 1px solid #0026ff;
    }
    .form-style{
        background-color:#fff;
    }
    .btn {
        background-color: #0fabff;
    }
    .link {
        color: #2f2d23;
    }
    .card-3d-wrap{
        width:540px;
        height:600px;
    }
</style>


